
<!DOCTYPE html>
<html>
  <head>
    <title>Yash Gadodia's Daily Journal.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'layouts/google_analytics'  %> 

    <!--Start of Novocall App Script-->
  </head>

  <body>
    <script type='text/javascript'>(function(){var d=document,h=d.getElementsByTagName('head')[0],s=d.createElement('script');s.type='text/javascript';s.async=!0;s.src='https://call.novocall.co/v1/widgets?id=7VhNLW4M8o4';h.appendChild(s)}())</script><!--End of Novocall App Script-->
   <%# navbar partial will be added to every page %>
    <%= render 'layouts/navbar'  %>
    <%# this guy is the master template, this template will be rendered first => yield %>
    <%= yield  %>
  </body>
</html>
